.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.sectionOne {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 100px;
  gap: 100px;
}
.sectionOneContent {
  max-width: 578px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.para {
  font-size: 16px;
  font-weight: 400;
}
.button {
  background-color: #a0dde2;
  max-width: 218px;
  max-height: 48px;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
}
.sectionTwo {
  display: flex;
  align-self: center;
  align-items: center;
  background-color: #ecfefe;
  /* max-width: 911px; */
  min-height: 394px;
  border-radius: 50px;
  overflow: hidden;
  gap: 100px;
  padding-left: 40px;
  padding-right: 120px;
}
.content {
  /* max-width: 464px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.img {
  margin-top: 50px;
}
.title{
  font-size: 16px;
  font-weight: 500;
  color: var(--app-teal-color);
}
.title2{
  font-size: 16px;
  font-weight: 500;
}
.header{
  font-size: 32px;
}